.page-content-wrapper .page-content .alert.alert-success {
    background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
    margin-bottom: 10px;
}
.page-content-wrapper .page-content .alert.alert-danger {
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
    margin-bottom: 10px;
}
.expand{
	display: none;
	cursor: pointer;
}
.collapse{
	display: block;
}
.gameinfotable{
	border: 0;
}
.opencloseportletcaption{
	cursor: pointer !important;
}
#sample_2_wrapper .dt-buttons{
	display: none;
}
#sample_2 thead th.sorting_desc:after, #sample_2 thead th.sorting_asc:after, #sample_2 thead th.sorting:after{
	display: none;
}
#sample_2{
	border-bottom: 0 ;
}
.owlpaging{
	display: none;
}
.rm-padding{
	padding-right: 0;
	padding-left: 0;
}
.portletdown{
	margin-bottom: 0;
}
.rc-padding{
	padding-bottom: 5px;
	padding-top: 5px;
}
.slimScrollDiv{
	position: relative; 
	overflow: hidden; 
	width: auto; 
}
.scroller{
	overflow-y: visible; 
	width: auto;
}
.portlet .page-title{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}
.portlet{
	background-color: #FFFFFF;
	margin-bottom: 0;
}
/*.page-content-wrapper .gamelisting{
	background-color: #E5E5E5;
}
.gamelisting{
    background: url(../../../images/bg.png) 0px 0px repeat rgb(239, 239, 239) !important;
}*/
.mycarousalnew{
	background-color: #FFFFFF;
	min-height:47px;
}
.logames{
	padding-top: 1.5%;
	padding-left: 0;
	padding-right: 0;
}
.logamesbtn{
	padding-top: 1.1%;
	padding-left: 0;
	padding-right: 0;
}
.searchheder{
	margin-left: 0;
	margin-right: 0;
	/*padding-top: 15px;*/
	margin-bottom: 10px;
}
#ajaxloading{
	text-align: center;
	height: 500px;
	padding-top: 200px;
}
.portlet.box.grey .portlet-title .captionstyle{
	font-size: 14px;
	padding: 8px 0 8px;
	width:98%;float:left;
}
.carouselstle{
	height: 0;
}
.carouselstle{
	top: 10px;
	width: 83%;
}
.gamemonth{
	background-color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.gamemonth strong{
	text-transform: uppercase;
}
.carouselstle i {
	padding: 5px;
	background-color: #E5E5E5;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
top: 0 !important;
}
.portlet.box.grey{
	border:1px solid #e5e5e5;
}
.portletdown.portlet>.portlet-title{
	min-height: 34px;
}
.carousel-inner{
	background-color: #FFFFFF;
	padding-top: 10px;
	/*padding-bottom: 10px;*/
	margin-bottom: 10px;
	border-bottom-right-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
}
.rm-margin{
	margin-right: 0;
	margin-left: 0;
}
.monthrcds{
	padding-top: 5px;
}
@media (max-width:767px){
	.gamemonth strong{
		font-size: 12px;
	}
}
.portlet.box>.portlet-title>.caption{
	padding: 10px 0 9px;
}
.portlet.box>.portlet-title>.actions {
    padding: 3px 0 5px;
}
.actions, .tools{
	padding-bottom: 0;
}
.portlet>.portlet-title>.tools{
	padding-bottom: 0;
	padding-top: 9px;
}
.btn-success:hover {
    color: #ffffff;
    text-shadow: 0px 0px 0px #186200;
    border: 1px solid #549E39;
    font-size: 12px;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled], .btn-group.open .btn-success.dropdown-toggle {
    background-color: #70A62F ; 
}
.btn-success[disabled], .btn-group.open .btn-success.dropdown-toggle {
    background-color: #70A62F !important;
}
.btn-success {
    font-size: 12px;
    color: #ffffff;
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -o-linear-gradient(top, #A1C873, #70A62F);
    background-image: linear-gradient(top, #A1C873, #70A62F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1C873', endColorstr='#70A62F', GradientType=0);
    border-color: #619126;
}

.btn-success {
    font-size: 12px;
    background-repeat: repeat-x;
}
.btn-success:not(.btn-outline).focus, .btn-success:not(.btn-outline):focus {
    color: #FFF;
    background-color: #A1C873;
    border-color: #70A62F;
}
.btn-danger:hover {
    color: #fff6f6;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled], .btn-group.open .btn-danger.dropdown-toggle {
    background-color: #E40304;
}
.btn-danger{
    border-radius: 4px !important;
    font-size: 12px;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    background-image: -moz-linear-gradient(top, #E95D5D, #E40304); /* For Firefox (3.6 to 15) */
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-color: #ea5460;
}
.actions .actions .btn-warning:hover, .actions .btn-warning:active, .actions .btn-warning.active, .actions .btn-warning.disabled, .actions .btn-warning[disabled], .btn-group.open .actions .btn-warning.dropdown-toggle {	
    margin-right: 0 !important;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.actions .btn-warning{
	margin-right: 0 !important;
	color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn {
    
    /*border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px  !important;
    -moz-border-radius: 4px  !important;*/
    border-radius: 4px !important;
    
}
.btn-success, .btn-danger, .actions .btn-warning{
	font-size: 12px;
}
.addcustomerbtn, .btn-dark{
	border-color: transparent;
	font-size: 13px;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    text-shadow: 0px 0px 0px rgba(0,0,0,.5);
    color: #ffffff !important;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);

    border-color: rgba(0, 0, 0, .15);
}
.addcustomerbtn:hover, .btn-dark:hover{
    color: #FFFFFF;
    border-color: transparent;
}

.removerightpadding{
    padding-right: 0;
}
.caption-subject{
	color: #555 !important;
}
.portlet.box.grey>.portlet-title{
	background-color: #E5E5E5;
    height: 34px;
}
.ajaxcarousel-inner{
	padding-top: 5px;
}

.searchbarstyle{
	float:right;padding-top:15px;background-color:#FFFFFF;
	border: 1px solid #CCC;
	border-radius: 5px !important;
	padding-right:0px;
}
#game-carousal{
	border: 1px solid #CCC;
	min-height: 450px;
	background-color:#FFFFFF;
	border-radius: 5px !important;
}
 .mycarousalnew{
 	border-radius: 5px !important;
 	border-bottom: 1px solid #E5E5E5;
 } 
 .searchrightpadding{
 	padding-left: 11px;
 }
.btn-secondary {
    text-shadow: 0px -1px 0px rgba(0,0,0,.25);
    color: #ffffff !important;
    background-color: #FA7414;
    background-image: -moz-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -ms-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9BB5D), to(#FF9A03));
    background-image: -webkit-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -o-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: linear-gradient(top, #F9BB5D, #FF9A03);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9BB5D', endColorstr='#FF9A03', GradientType=0);
    border-color: #D58000;
    border-color: rgba(0, 0, 0, .15);
}

.btn-secondary:hover {
    color: #ffffdc;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled], .btn-group.open .btn-secondary.dropdown-toggle {
    background-color: #FF9A03;
}
.border-radius{
    border-radius: 4px !important;
}
.searchteambtn{
	margin-right:10px;border-radius: 4px !important;
	font-size: 13px;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	padding: 5px !important;
	text-align: center;
}
.gameinfotable th{
	font-size: 13px !important;
}
.gameinfotable thead tr th, .gameinfotable tbody tr td{
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
}
.gameinfotable{
	margin-bottom: 0;
}
.portlet.box.grey.portletdown{
	border: none;
}
.portlet.box>.portlet-body.portlet-custom{
	padding: 0;
}
.mycarousalnew .logamesbtn a.addcustomerbtn{
	line-height: 1;
	float:right;margin-top:-1px;
}
#resetbtn{
    padding: 5px 12px;
    font-size: 14px;
    margin-top: 1px;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
#shortgamedetail{
	color:#000;background-image:none;display: block;width: 100%;	
}
#shortgamedetail:hover{
	text-decoration: none;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{
	position: absolute;
    z-index: 999999;
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-align: center;
    top: 33% !important;
    left: 49% !important;
    display: block;
    border: 0;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
	width:30%;
}
.loadingsection {
    display: none;
    text-align: center;
    min-height: 400px;
    background-color: #ffffff;
    padding-top: 175px;
}
.modal-body{
	overflow:auto;
	max-width: 900px !important;
}
.error{
	color:red;
	font-size:13px;
}

@media (min-width:769px){
    #resetbtn{
        float:right;
    }
}
